<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new-addiction" href="/tabs/new-addiction">
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="configs" href="/tabs/configs">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
